<div  [ngClass]="{'aboutLayout':'true', 'open':'true'}" >
    <h1 class="aboutHeader">Event Agenda "</h1>
	<div style="width:500px; margin:0 auto">
		<table id="customers">
			<tr>
				<th>Event Name</th>
				<th>Start Time</th>
				<th>End Time</th>
			</tr>
			<tr>
				<td>Greeting Fête n’ Fiesta 2018 <br/>Enjoy the welcome drink, Collect your ribbon and find your team  </td>
				<td>2:00 PM</td>
				<td>2:30 PM</td>
			</tr>
			<tr>
				<td>Fête n’ Fiesta DJ <br/>A mix of the best Indian tracks</td>
				<td>2:30 PM</td>
				<td>3:00 PM</td>
			</tr>
			<tr>
				<td>Kids Show<br/>Fun activities for the little ones</td>
				<td>3:00 PM</td>
				<td>3:15 PM</td>
			</tr>
			<tr>
				<td>The Fete n' Fiesta Championship <br/>A series of fun and engaging games to break the ice and win the title</td>
				<td>3:15 PM</td>
				<td>4:15 PM</td>
			</tr>
			<tr>
				<td>Chow Time <br/>Lip-smacking indian snacks to slurp</td>
				<td>4:15 PM</td>
				<td>5:00 PM</td>
			</tr>
		</table>

	</div>

<div class="clear"></div>
<div style="height:50px">&nbsp;</div>
			<div style="text-align:center; color:#000; font-weight:bold">How to get there</div>
	<div class="arrowbtn" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>
<div class="clear"></div>
</div>
<div class="divSpace">&nbsp;</div>