<div  [ngClass]="{'contactLayout':'true', 'open':'true'}">
  <h1 class="contactHeader">Contact "</h1>
  <div style="width:800px; margin:0 auto">
    <table id="customers">
      <tr>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Email Address</th>
      </tr>
      <tr>
        <td>Karthickeyan Jeyabal</td>
        <td>+31 626878458</td>
        <td>Karthickeyan.Jeyabal@klm.com</td>
      </tr>
      <tr>
        <td>Umar Abdul Abbas</td>
        <td>+31 649668445</td>
        <td>Umar.Abdulabbas@klm.com</td>
      </tr>
      <tr>
        <td>Soundararajan Devaraj</td>
        <td>+31 630351065</td>
        <td>Soundararajan.Devaraj@klm.com</td>
      </tr>
      <tr>
        <td>Malaiappan Kannan</td>
        <td>+31 657920330</td>
        <td>Malaiappan.Kannan@klm.com</td>
      </tr>
      <tr>
        <td>Vigneshwar Chokkalingam</td>
        <td>+31 649569379</td>
        <td>Vigneshwar.Chokkalingam@klm.com</td>
      </tr>
      <tr>
        <td>Vasanthi Babu</td>
        <td>+31 682508700</td>
        <td>Vasanthi.Babu@klm.com</td>
      </tr>
      <tr>
        <td>Vithya Veeraraghavan</td>
        <td>+31 630539118</td>
        <td>Vithya.Veeraraghavan@klm.com</td>
      </tr>
      <tr>
        <td>Rohini Pasupuleti</td>
        <td>+31 616628172 </td>
        <td>Rohini.Pasupuleti@klm.com</td>
      </tr>
      <tr>
        <td>Pandian GnanagurusamyKaruppasamy</td>
        <td>+31 620338094</td>
        <td>Pandian.GnanagurusamyKaruppasamy@klm.com</td>
      </tr>
    
    </table>
  </div>
  <div style="height:50px">&nbsp;</div>
  <div style="text-align:center; color:#000; font-weight:bold">Go to Intro Page</div>
  <div class="arrowbtn animated slideInUp" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
</div>
  
