<div [ngClass]="{'introLayout':'true', 'open':'true'}" >
	<div style=" padding-top:20%;">
			<div class="name-txt-center">
				 <div [ngClass]="{'name-left':'true', 'open':open}" class="text-color">Fete n’ </div>
				<div [ngClass]="{'name-right':'true','open':open}" class="text-color">&nbsp;Fiesta</div>
				<div class="clear" ></div> 
			</div>
			
			<div [ngClass]="{'arrowbtn':'true', 'open':open}"  (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
			
	  </div>
	 
			
	
</div>
<app-footer></app-footer>