<div  [ngClass]="{'worksLayout':'true', 'open':'true'}" >
  <h1 class="worksHeader">The Fete n' Fiesta Championship "</h1>
  

      <div class="table">
          <table id="customers">
            <tr>
              <th>Games</th>
              <th>Duration</th>
              <th>Rules</th>
              <th>Winners</th>
            </tr>
            <tr>
              <td>Blow and burst</td>
              <td>10 Mins</td>
              <td><a _ngcontent-c4="" class="butdownload" href="./assets/images/Blowandburst.docx" target="_blank">Download&nbsp;<i _ngcontent-c4="" class="fa fa-download"></i></a></td>
              <td></td>
            </tr>
            <tr>
              <td>Ladder</td>
              <td>10 Mins</td>
              <td><a _ngcontent-c4="" class="butdownload" href="./assets/images/Ladder.docx" target="_blank">Download&nbsp;<i _ngcontent-c4="" class="fa fa-download"></i></a></td>
              <td></td>
            </tr>
            <tr>
                <td>Paper cup Pyramid</td>
                <td>10 Mins</td>
                <td><a _ngcontent-c4="" class="butdownload" href="./assets/images/PaperCupPyramid.docx" target="_blank">Download&nbsp;<i _ngcontent-c4="" class="fa fa-download"></i></a></td>
                <td></td>
            </tr>
            <tr>
                <td>Pass the water</td>
                <td>10 Mins</td>
                <td><a _ngcontent-c4="" class="butdownload" href="./assets/images/Passthewater.docx" target="_blank">Download&nbsp;<i _ngcontent-c4="" class="fa fa-download"></i></a></td>
                <td></td>
            </tr>
            <tr>
                <td>The Hoopla Ring</td>
                <td>10 Mins</td>
                <td><a _ngcontent-c4="" class="butdownload" href="./assets/images/TheHooplaring.docx" target="_blank">Download&nbsp;<i _ngcontent-c4="" class="fa fa-download"></i></a></td>
                <td></td>
            </tr>
          </table>
      
        </div>

        <div style="text-align:center; font-size:1.2em; color:red ; padding-top:10px; padding-bottom:10px; ">*Referee's decision is final</div>
        <div>
            
            <h1 class="worksHeader">The Winners</h1>
        </div>
        <div style="margin:0 auto; width:100%; text-align:center">
            <img src="./assets/images/Winner-512.png" height="300px"/>
        </div>
  <div class="clear"></div>
  <div class="divSpace">&nbsp;</div>
  <div style="height:50px">&nbsp;</div>
			<div style="text-align:center; color:#000; font-weight:bold">Check out some cool pics from the Event </div>
   <div class="arrowbtn animated slideInUp" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
   <div class="divSpace">&nbsp;</div>
</div>
 


