<div  [ngClass]="{'worksLayout':'true', 'open':'true'}" >
  <h1 class="worksHeader">The Fete n' Fiesta Championship "</h1>
  <div style="text-align:center; font-size:6em; color:#000">Coming Soon</div>
 
  <div class="clear"></div>
  <div class="divSpace">&nbsp;</div>
  <div style="height:50px">&nbsp;</div>
			<div style="text-align:center; color:#000; font-weight:bold">Check out some cool pics from the Event </div>
   <div class="arrowbtn animated slideInUp" (click)="nextComponent()"><span class="fa fa-angle-double-down"></span></div>	
   <div class="divSpace">&nbsp;</div>
</div>
 


